# ETL, Configuration

Imports

In [42]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import pyodbc as py
import warnings
warnings.simplefilter('ignore')

Database Connection

In [43]:
DB = {'servername': r'MOHAMEDS\SQLEXPRESS',
      'database': 'DatawarehouseP2'}

export_conn = py.connect('DRIVER={SQL SERVER}; SERVER='+
                         DB['servername']+
                         ';DATABASE='+
                         DB['database']+
                         ';Trusted_Connection=yes'
)

export_conn = export_conn.cursor()

SQL (Database Connection) inladen

In [44]:
AENC_conn = sql.connect("aenc.sqlite")

# Data Inlezen

AENC

In [45]:
Department = pd.read_sql_query('Select * from Department', AENC_conn)
Product = pd.read_sql_query('Select * from Product', AENC_conn)
State = pd.read_sql_query('Select * from State', AENC_conn)
Bonus = pd.read_sql_query('Select * from Bonus', AENC_conn)
Customer = pd.read_sql_query('Select * from Customer', AENC_conn)
Employee = pd.read_sql_query('Select * from Employee', AENC_conn)
Sales_Order = pd.read_sql_query('Select * from Sales_Order', AENC_conn)
Sales_Order_Item = pd.read_sql_query('Select * from Sales_Order_Item', AENC_conn)

Data Joined

In [46]:
EmployeeBonus = Bonus.merge(Employee, on='emp_id')
SalesOrder_M_OrderItem = Sales_Order_Item.merge(Sales_Order, on='id')

Data Insertion for AENC

In [31]:
for index, row in Department.iterrows():
    try:
        query = f"""INSERT INTO Department VALUES(
        {row['dept_id']},
        '{row['dept_name'].replace("'", "''")}',
        {row['dept_head_id']})"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (100). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        100,
        'R & D',
        501)
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (200). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        200,
        'Sales',
        902)
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (300). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        300,
        'Finance',
        1293)
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (400). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        400,
        'Marketing',
        1576)
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (500). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        500,
        'Shipping',
        703)

In [47]:
for index, row in State.iterrows():
    try:
        query = f"""INSERT INTO STATE VALUES(
        '{row['state_id']}',
        '{row['state_name'].replace("'", "''")}',
        '{row['state_capital'].replace("'","''")}',
        '{row['country']}',
        '{row['region']}')"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AB). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AB',
        'Alberta',
        'Edmonton',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AK). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AK',
        'Alaska',
        'Juneau',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AL). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AL',
        'Alabama',
        'Montgomery',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AR). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AR',
        'Arkansas',
        'Little Rock',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AZ). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AZ',
        'Arizona',
        'Phoenix',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (BC). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'BC',
        'British Columbia',
        'Victoria',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (CA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'CA',
        'California',
        'Sacramento',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (CO). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'CO',
        'Colorado',
        'Denver',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (CT). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'CT',
        'Connecticut',
        'Hartford',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (DC). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'DC',
        'District of Columbia',
        'Washington',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (DE). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'DE',
        'Delaware',
        'Dover',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (FL). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'FL',
        'Florida',
        'Tallahassee',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (GA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'GA',
        'Georgia',
        'Atlanta',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (HI). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'HI',
        'Hawaii',
        'Honolulu',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (IA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'IA',
        'Iowa',
        'Des Moines',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (ID). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'ID',
        'Idaho',
        'Boise',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (IL). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'IL',
        'Illinois',
        'Springfield',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (IN). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'IN',
        'Indiana',
        'Indianapolis',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (KS). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'KS',
        'Kansas',
        'Topeka',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (KY). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'KY',
        'Kentucky',
        'Frankfort',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (LA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'LA',
        'Louisiana',
        'Baton Rouge',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MA',
        'Massachusetts',
        'Boston',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MB). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MB',
        'Manitoba',
        'Winnipeg',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MD). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MD',
        'Maryland',
        'Annapolis',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (ME). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'ME',
        'Maine',
        'Augusta',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MI). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MI',
        'Michigan',
        'Lansing',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MN). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MN',
        'Minnesota',
        'St. Paul',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MO). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MO',
        'Missouri',
        'Jefferson City',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MS). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MS',
        'Mississippi',
        'Jackson',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MT). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MT',
        'Montana',
        'Helena',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NB). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NB',
        'New Brunswick',
        'Fredericton',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NC). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NC',
        'North Carolina',
        'Raleigh',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (ND). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'ND',
        'North Dakota',
        'Bismarck',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NE). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NE',
        'Nebraska',
        'Lincoln',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NF). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NF',
        'Newfoundland',
        'St. John''s',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NH). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NH',
        'New Hampshire',
        'Concord',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NJ). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NJ',
        'New Jersey',
        'Trenton',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NM). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NM',
        'New Mexico',
        'Santa Fe',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NS). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NS',
        'Nova Scotia',
        'Halifax',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NT). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NT',
        'Northwest Territories',
        'Yellowknife',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NV). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NV',
        'Nevada',
        'Carson City',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NY). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NY',
        'New York',
        'Albany',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (OH). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'OH',
        'Ohio',
        'Columbus',
        'USA',
        'Central')

In [48]:
for index, row in Product.iterrows():
    try:
        query = f"""INSERT INTO PRODUCT VALUES(
        '{row['id']}',
        '{row['name'].replace("'", "''")}',
        '{row['description'].replace("'","''")}',
        '{row['prod_size'].replace("'","''")}',
        '{row['color'].replace("'","''")},
        '{row['quantity']}',
        '{row['unit_price']}',
        '{row['picture_name'].replace("'", "''")}',
        '{row['category'].replace("'","''")}'')"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')
Error: 'category'
Failed Query: INSERT INTO STATE VALUES(
        'YT',
        'Yukon Territory',
        'Whitehorse',
        'CAN',
        'Canada')