# ETL, Configuration

Imports

In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import pyodbc as py
import warnings
warnings.simplefilter('ignore')

Database Connection

In [2]:
DB = {'servername': r'MOHAMEDS\SQLEXPRESS',
      'database': 'DatawarehouseP2'}

export_conn = py.connect('DRIVER={SQL SERVER}; SERVER='+
                         DB['servername']+
                         ';DATABASE='+
                         DB['database']+
                         ';Trusted_Connection=yes'
)

export_conn = export_conn.cursor()

SQL (Database Connection) inladen

In [3]:
AENC_conn = sql.connect("aenc.sqlite")

# Data Inlezen

AENC

In [4]:
Department = pd.read_sql_query('Select * from Department', AENC_conn)
Product = pd.read_sql_query('Select * from Product', AENC_conn)
State = pd.read_sql_query('Select * from State', AENC_conn)
Bonus = pd.read_sql_query('Select * from Bonus', AENC_conn)
Customer = pd.read_sql_query('Select * from Customer', AENC_conn)
Employee = pd.read_sql_query('Select * from Employee', AENC_conn)
Sales_Order = pd.read_sql_query('Select * from Sales_Order', AENC_conn)
Sales_Order_Item = pd.read_sql_query('Select * from Sales_Order_Item', AENC_conn)

Data Joined

In [5]:
EmployeeBonus = Bonus.merge(Employee, on='emp_id')
SalesOrder_M_OrderItem = Sales_Order_Item.merge(Sales_Order, on='id')

Data Insertion for AENC

In [6]:
for index, row in Department.iterrows():
    try:
        query = f"""INSERT INTO Department VALUES(
        {row['dept_id']},
        '{row['dept_name'].replace("'", "''")}',
        {row['dept_head_id']})"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (100). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        100,
        'R & D',
        501)
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (200). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        200,
        'Sales',
        902)
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (300). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        300,
        'Finance',
        1293)
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (400). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        400,
        'Marketing',
        1576)
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Departme__DCA65974E8ED2FA2'. Cannot insert duplicate key in object 'dbo.Department'. The duplicate key value is (500). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Department VALUES(
        500,
        'Shipping',
        703)

In [7]:
for index, row in State.iterrows():
    try:
        query = f"""INSERT INTO STATE VALUES(
        '{row['state_id']}',
        '{row['state_name'].replace("'", "''")}',
        '{row['state_capital'].replace("'","''")}',
        '{row['country']}',
        '{row['region']}')"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AB). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AB',
        'Alberta',
        'Edmonton',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AK). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AK',
        'Alaska',
        'Juneau',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AL). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AL',
        'Alabama',
        'Montgomery',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AR). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AR',
        'Arkansas',
        'Little Rock',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (AZ). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'AZ',
        'Arizona',
        'Phoenix',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (BC). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'BC',
        'British Columbia',
        'Victoria',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (CA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'CA',
        'California',
        'Sacramento',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (CO). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'CO',
        'Colorado',
        'Denver',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (CT). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'CT',
        'Connecticut',
        'Hartford',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (DC). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'DC',
        'District of Columbia',
        'Washington',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (DE). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'DE',
        'Delaware',
        'Dover',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (FL). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'FL',
        'Florida',
        'Tallahassee',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (GA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'GA',
        'Georgia',
        'Atlanta',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (HI). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'HI',
        'Hawaii',
        'Honolulu',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (IA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'IA',
        'Iowa',
        'Des Moines',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (ID). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'ID',
        'Idaho',
        'Boise',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (IL). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'IL',
        'Illinois',
        'Springfield',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (IN). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'IN',
        'Indiana',
        'Indianapolis',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (KS). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'KS',
        'Kansas',
        'Topeka',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (KY). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'KY',
        'Kentucky',
        'Frankfort',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (LA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'LA',
        'Louisiana',
        'Baton Rouge',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MA). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MA',
        'Massachusetts',
        'Boston',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MB). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MB',
        'Manitoba',
        'Winnipeg',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MD). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MD',
        'Maryland',
        'Annapolis',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (ME). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'ME',
        'Maine',
        'Augusta',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MI). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MI',
        'Michigan',
        'Lansing',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MN). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MN',
        'Minnesota',
        'St. Paul',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MO). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MO',
        'Missouri',
        'Jefferson City',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MS). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MS',
        'Mississippi',
        'Jackson',
        'USA',
        'South')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (MT). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'MT',
        'Montana',
        'Helena',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NB). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NB',
        'New Brunswick',
        'Fredericton',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NC). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NC',
        'North Carolina',
        'Raleigh',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (ND). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'ND',
        'North Dakota',
        'Bismarck',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NE). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NE',
        'Nebraska',
        'Lincoln',
        'USA',
        'Central')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NF). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NF',
        'Newfoundland',
        'St. John''s',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NH). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NH',
        'New Hampshire',
        'Concord',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NJ). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NJ',
        'New Jersey',
        'Trenton',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NM). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NM',
        'New Mexico',
        'Santa Fe',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NS). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NS',
        'Nova Scotia',
        'Halifax',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NT). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NT',
        'Northwest Territories',
        'Yellowknife',
        'CAN',
        'Canada')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NV). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NV',
        'Nevada',
        'Carson City',
        'USA',
        'Western')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (NY). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'NY',
        'New York',
        'Albany',
        'USA',
        'Eastern')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'pk_state'. Cannot insert duplicate key in object 'dbo.State'. The duplicate key value is (OH). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO STATE VALUES(
        'OH',
        'Ohio',
        'Columbus',
        'USA',
        'Central')

In [13]:
for index, row in Product.iterrows():
    try:
        query = f"""INSERT INTO PRODUCT VALUES(
        '{row['id']}',
        '{row['name'].replace("'", "''")}',
        '{row['description'].replace("'","''")}',
        '{row['prod_size'].replace("'","''")}',
        '{row['color'].replace("'","''")}',
        {row['quantity']},
        {row['unit_price']},
        '{row['picture_name'].replace("'", "''")}',
        '{row['Category'].replace("'","''")}')"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

In [17]:
for index, row in Customer.iterrows():
    try:
        query = f"""INSERT INTO Customer VALUES(
        '{row['id']}',
        '{row['fname'].replace("'", "''")}',
        '{row['lname'].replace("'","''")}',
        '{row['address'].replace("'","''")}',
        '{row['city'].replace("'","''")}',
        '{row['state'].replace("'", "''")}',
        '{row['zip'].replace("'","''")}',
        '{row['phone']}',
        '{row['company_name'].replace("'","''")}')"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (101). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '101',
        'Michaels',
        'Devlin',
        '3114 Pioneer Avenue',
        'Rutherford',
        'NJ',
        '07070',
        '2015558966',
        'The Power Group')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (102). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '102',
        'Beth',
        'Reiser',
        '1033 Whippany Road',
        'New York',
        'NY',
        '10154',
        '2125558725',
        'AMF Corp.')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (106). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '106',
        'Paul',
        'Phillips',
        '2000 Cherry Creek N. Dr.',
        'Middletown',
        'CT',
        '64579',
        '2035553464',
        'Ralston Inc.')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (123). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '123',
        'Amanda',
        'Lin',
        '25 North Pine Grove',
        'Winnipeg',
        'MB',
        'R3C 3V6',
        '2045555559',
        'North Land Trading')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (135). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '135',
        'Belinda',
        'Clarke',
        '204 Constitution Avenue',
        'New York',
        'NY',
        '10001',
        '2125555026',
        'Hermanns')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (143). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '143',
        'Peter',
        'Piper',
        '3100 Stevens Creek Blvd.',
        'Winnipeg',
        'MB',
        'R3C 3V6',
        '2045559414',
        'Molly''s')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (148). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '148',
        'Beth',
        'Crooker',
        '501 College Road',
        'Winnepeg',
        'MB',
        'R3C 2P4',
        '2045555554',
        'Cooper Inc.')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (149). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '149',
        'Hans',
        'Uhnfitte',
        '3700 West Wacker Dr',
        'Winnepeg',
        'MB',
        'R3C `2P4',
        '2045554744',
        'The Ultimate')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (161). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '161',
        'Gene',
        'Poole',
        '3860 Vreeland Road',
        'Washington',
        'DC',
        '20581',
        '2025556537',
        'State House Active Wear')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (164). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '164',
        'Aram',
        'Najarian',
        '200 Cambridge Center',
        'Danbury',
        'CT',
        '6811',
        '2035557907',
        'Bloomfield''s')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (178). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '178',
        'Suresh',
        'Naidu',
        '321 Sycamore Drive',
        'New London',
        'CT',
        '6320',
        '2035554440',
        'Amy''s Silk Screening')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (181). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '181',
        'Emunah',
        'Teeven',
        '101 Wilshire Blvd.',
        'Washington',
        'DC',
        '20240',
        '2025552083',
        'Hometown Tee''s')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (185). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '185',
        'Serop',
        'Belmont',
        '4867 Hadley Lane',
        'Hartford',
        'CT',
        '6115',
        '2035555474',
        'The Heartford')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (444). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '444',
        'Len',
        'Manager',
        '23 Network Way',
        'Dallas',
        'TX',
        '76552',
        '2145552685',
        'Let''s get Connected')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Customer__3213E83F50965298'. Cannot insert duplicate key in object 'dbo.Customer'. The duplicate key value is (555). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Customer VALUES(
        '555',
        'Philipe',
        'Fernandez',
        '99 Main Street',
        'Los Angeles',
        'CA',
        '90205',
        '2135554457',
        'Quaker Fashions')

In [18]:
for index, row in SalesOrder_M_OrderItem.iterrows():
    try:
        query = f"""INSERT INTO Sales_Order_Item VALUES(
        '{row['id']}',
        '{row['line_id']}',
        '{row['prod_id']}',
        '{row['quantity']}',
        '{row['ship_date']}',
        '{row['cust_id']}',
        '{row['order_date']}',
        '{row['region'].replace("'", "''")}',
        '{row['sales_rep']}')"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2001). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2001',
        '2',
        '301',
        '12',
        '14-Sep-2022',
        '101',
        '14-Mar-2022',
        'Eastern',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2001). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2001',
        '3',
        '302',
        '12',
        '14-Sep-2022',
        '101',
        '14-Mar-2022',
        'Eastern',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2002). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2002',
        '2',
        '401',
        '24',
        '18-Sep-2022',
        '102',
        '18-Mar-2022',
        'Eastern',
        '467')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2003). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2003',
        '2',
        '501',
        '12',
        '23-Sep-2022',
        '103',
        '21-Mar-2022',
        'Eastern',
        '1039')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2003). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2003',
        '3',
        '400',
        '12',
        '23-Sep-2022',
        '103',
        '21-Mar-2022',
        'Eastern',
        '1039')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2004). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2004',
        '2',
        '601',
        '48',
        '23-Sep-2022',
        '104',
        '23-Mar-2022',
        'South',
        '902')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2013). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2013',
        '2',
        '601',
        '24',
        '11-Oct-2022',
        '112',
        '06-Apr-2022',
        'Central',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2015). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2015',
        '2',
        '301',
        '24',
        '06-Oct-2022',
        '114',
        '30-Apr-2022',
        'Central',
        '949')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2015). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2015',
        '3',
        '302',
        '24',
        '06-Oct-2022',
        '114',
        '30-Apr-2022',
        'Central',
        '949')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2015). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2015',
        '4',
        '700',
        '24',
        '06-Oct-2022',
        '114',
        '30-Apr-2022',
        'Central',
        '949')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2016). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2016',
        '2',
        '401',
        '12',
        '08-Oct-2022',
        '115',
        '01-Apr-2022',
        'Central',
        '902')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2016). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2016',
        '3',
        '500',
        '12',
        '08-Oct-2022',
        '115',
        '01-Apr-2022',
        'Central',
        '902')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2016). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2016',
        '4',
        '501',
        '12',
        '08-Oct-2022',
        '115',
        '01-Apr-2022',
        'Central',
        '902')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2017). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2017',
        '2',
        '600',
        '48',
        '08-Oct-2022',
        '116',
        '01-Apr-2022',
        'Eastern',
        '856')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2017). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2017',
        '3',
        '601',
        '48',
        '08-Oct-2022',
        '116',
        '01-Apr-2022',
        'Eastern',
        '856')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2026). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2026',
        '2',
        '700',
        '48',
        '04-Aug-2022',
        '125',
        '04-May-2022',
        'Central',
        '467')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2030). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2030',
        '2',
        '301',
        '24',
        '06-Oct-2022',
        '129',
        '06-May-2022',
        'Eastern',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2030). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2030',
        '3',
        '302',
        '24',
        '06-Oct-2022',
        '129',
        '06-May-2022',
        'Eastern',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2030). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2030',
        '4',
        '700',
        '24',
        '06-Oct-2022',
        '129',
        '06-May-2022',
        'Eastern',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2031). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2031',
        '2',
        '401',
        '48',
        '01-Dec-2022',
        '130',
        '27-May-2022',
        'Central',
        '667')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2033). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2033',
        '2',
        '401',
        '24',
        '14-Aug-2022',
        '132',
        '14-May-2022',
        'Central',
        '1142')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2074). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2074',
        '2',
        '501',
        '12',
        '20-Jan-2023',
        '173',
        '20-Oct-2022',
        'Eastern',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2095). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2095',
        '2',
        '301',
        '36',
        '19-Oct-2023',
        '193',
        '14-Feb-2023',
        'Central',
        '195')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2095). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2095',
        '3',
        '302',
        '36',
        '19-Oct-2023',
        '193',
        '14-Feb-2023',
        'Central',
        '195')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2112). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2112',
        '2',
        '601',
        '12',
        '13-Jul-2023',
        '165',
        '12-May-2023',
        'Central',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2114). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2114',
        '2',
        '601',
        '24',
        '16-Aug-2023',
        '206',
        '13-May-2023',
        'Eastern',
        '856')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2115). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2115',
        '2',
        '700',
        '36',
        '14-Sep-2023',
        '201',
        '14-May-2023',
        'Central',
        '667')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2125). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2125',
        '2',
        '401',
        '36',
        '27-Dec-2023',
        '101',
        '23-Jun-2023',
        'Eastern',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2125). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2125',
        '3',
        '500',
        '36',
        '27-Dec-2023',
        '101',
        '23-Jun-2023',
        'Eastern',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2128). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2128',
        '2',
        '700',
        '36',
        '30-Jul-2023',
        '155',
        '29-Jul-2023',
        'Central',
        '467')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2131). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2131',
        '2',
        '301',
        '12',
        '04-Jul-2023',
        '128',
        '03-Jul-2023',
        'Eastern',
        '856')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2131). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2131',
        '3',
        '302',
        '12',
        '04-Jul-2023',
        '128',
        '03-Jul-2023',
        'Eastern',
        '856')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2132). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2132',
        '2',
        '401',
        '48',
        '10-Jul-2023',
        '110',
        '09-Jul-2023',
        'Central',
        '299')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2135). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2135',
        '2',
        '301',
        '12',
        '08-Jul-2023',
        '205',
        '07-Jul-2023',
        'Eastern',
        '1142')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Sales_Or__3213E83F6D7D84B4'. Cannot insert duplicate key in object 'dbo.Sales_Order_Item'. The duplicate key value is (2135). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Sales_Order_Item VALUES(
        '2135',
        '3',
        '302',
        '12',
        '08-Jul-2023',
        '205',
        '07-Jul-2023',
        'Eastern',
        '1142')

In [21]:
for index, row in EmployeeBonus.iterrows():
    try:
        query = f"""INSERT INTO Employee_Bonus VALUES(
        '{row['emp_id']}',
        '{row['manager_id']}',
        '{row['emp_fname'].replace("'","''")}',
        '{row['emp_lname'].replace("'","''")}',
        '{row['dept_id']}',
        '{row['street'].replace("'","''")}',
        '{row['city'].replace("'","''")}',
        '{row['state'].replace("'", "''")}',
        '{row['zip_code']}',
        '{row['phone']}',
        '{row['status'].replace("'","''")}',
        '{row['ss_number']}',
        '{row['salary']}',
        '{row['start_date']}',
        '{row['birth_date']}',
        '{row['bene_health_ins'].replace("'","''")}',
        '{row['bene_life_ins'].replace("'","''")}',
        '{row['bene_day_care'].replace("'","''")}',
        '{row['sex'].replace("'","''")}',
        '{row['bonus_date']}',
        '{row['bonus_amount']}')"""

        export_conn.execute(query)

    except Exception as e:
        print(f"Error: {e}")
        print(f"Failed Query: {query}")

export_conn.commit()

Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (129). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '129',
        '902',
        'Philip',
        'Chin',
        '200',
        '59 Pond Street',
        'Atlanta',
        'GA',
        '30339',
        '4045552341',
        'A',
        '24608923',
        '38500.0',
        '04-Aug-2024',
        '30-Oct-1993',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-22',
        '50')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (129). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '129',
        '902',
        'Philip',
        'Chin',
        '200',
        '59 Pond Street',
        'Atlanta',
        'GA',
        '30339',
        '4045552341',
        'A',
        '24608923',
        '38500.0',
        '04-Aug-2024',
        '30-Oct-1993',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-23',
        '250')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (129). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '129',
        '902',
        'Philip',
        'Chin',
        '200',
        '59 Pond Street',
        'Atlanta',
        'GA',
        '30339',
        '4045552341',
        'A',
        '24608923',
        '38500.0',
        '04-Aug-2024',
        '30-Oct-1993',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-24',
        '400')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (195). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '195',
        '902',
        'Marc',
        'Dill',
        '200',
        '89 Hancock Street',
        'Milton',
        'MA',
        '2186',
        '6175552144',
        'A',
        '79486634',
        '54800.0',
        '06-Jun-2014',
        '19-Jul-1990',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-22',
        '0')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (195). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '195',
        '902',
        'Marc',
        'Dill',
        '200',
        '89 Hancock Street',
        'Milton',
        'MA',
        '2186',
        '6175552144',
        'A',
        '79486634',
        '54800.0',
        '06-Jun-2014',
        '19-Jul-1990',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-23',
        '450')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (195). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '195',
        '902',
        'Marc',
        'Dill',
        '200',
        '89 Hancock Street',
        'Milton',
        'MA',
        '2186',
        '6175552144',
        'A',
        '79486634',
        '54800.0',
        '06-Jun-2014',
        '19-Jul-1990',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-24',
        '100')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (299). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '299',
        '902',
        'Rollin',
        'Overbey',
        '200',
        '1915 Companion Ct.',
        'Emeryville',
        'CA',
        '94608',
        '5105557255',
        'A',
        '25487133',
        '39300.0',
        '19-Aug-2015',
        '15-Mar-1991',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-22',
        '250')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (299). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '299',
        '902',
        'Rollin',
        'Overbey',
        '200',
        '1915 Companion Ct.',
        'Emeryville',
        'CA',
        '94608',
        '5105557255',
        'A',
        '25487133',
        '39300.0',
        '19-Aug-2015',
        '15-Mar-1991',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-23',
        '850')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (299). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '299',
        '902',
        'Rollin',
        'Overbey',
        '200',
        '1915 Companion Ct.',
        'Emeryville',
        'CA',
        '94608',
        '5105557255',
        'A',
        '25487133',
        '39300.0',
        '19-Aug-2015',
        '15-Mar-1991',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-24',
        '650')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (467). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '467',
        '902',
        'James',
        'Klobucher',
        '200',
        '18 Corning Street',
        'Houston',
        'TX',
        '77079',
        '7135558627',
        'A',
        '34281032',
        '49500.0',
        '07-Jan-2016',
        '09-Nov-1979',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-23',
        '300')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (467). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '467',
        '902',
        'James',
        'Klobucher',
        '200',
        '18 Corning Street',
        'Houston',
        'TX',
        '77079',
        '7135558627',
        'A',
        '34281032',
        '49500.0',
        '07-Jan-2016',
        '09-Nov-1979',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-24',
        '300')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (667). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '667',
        '902',
        'Mary',
        'Garcia',
        '200',
        '98 Purvis Street',
        'Houston',
        'TX',
        '77079',
        '7135553431',
        'A',
        '42706188',
        '39800.0',
        '23-May-2017',
        '23-Jan-1990',
        'N',
        'Y',
        'Y',
        'F',
        '31-dec-23',
        '300')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (667). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '667',
        '902',
        'Mary',
        'Garcia',
        '200',
        '98 Purvis Street',
        'Houston',
        'TX',
        '77079',
        '7135553431',
        'A',
        '42706188',
        '39800.0',
        '23-May-2017',
        '23-Jan-1990',
        'N',
        'Y',
        'Y',
        'F',
        '31-dec-24',
        '350')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (690). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '690',
        '902',
        'Kathleen',
        'Poitras',
        '200',
        '50 The Fenway',
        'Boston',
        'MA',
        '2118',
        '6175553920',
        'A',
        '87236702',
        '46200.0',
        '29-May-2017',
        '29-Sep-1992',
        'N',
        'Y',
        'N',
        'F',
        '31-dec-23',
        '450')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (690). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '690',
        '902',
        'Kathleen',
        'Poitras',
        '200',
        '50 The Fenway',
        'Boston',
        'MA',
        '2118',
        '6175553920',
        'A',
        '87236702',
        '46200.0',
        '29-May-2017',
        '29-Sep-1992',
        'N',
        'Y',
        'N',
        'F',
        '31-dec-24',
        '200')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (856). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '856',
        '902',
        'Samuel',
        'Singer',
        '200',
        '187 Orchard Road',
        'Stow',
        'MA',
        '1775',
        '5085553255',
        'A',
        '11349786',
        '34892.0',
        '30-Nov-2018',
        '07-Apr-1986',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-23',
        '350')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (856). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '856',
        '902',
        'Samuel',
        'Singer',
        '200',
        '187 Orchard Road',
        'Stow',
        'MA',
        '1775',
        '5085553255',
        'A',
        '11349786',
        '34892.0',
        '30-Nov-2018',
        '07-Apr-1986',
        'Y',
        'Y',
        'N',
        'M',
        '31-dec-24',
        '300')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (902). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '902',
        '1293',
        'Judy',
        'Snow',
        '200',
        '12 Fountain Road',
        'Marblehead',
        'MA',
        '1945',
        '5085553769',
        'A',
        '15923467',
        '87500.0',
        '01-Apr-2019',
        '16-Aug-1977',
        'Y',
        'Y',
        'N',
        'F',
        '31-dec-23',
        '200')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (902). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '902',
        '1293',
        'Judy',
        'Snow',
        '200',
        '12 Fountain Road',
        'Marblehead',
        'MA',
        '1945',
        '5085553769',
        'A',
        '15923467',
        '87500.0',
        '01-Apr-2019',
        '16-Aug-1977',
        'Y',
        'Y',
        'N',
        'F',
        '31-dec-24',
        '100')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (949). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '949',
        '902',
        'Pamela',
        'Savarino',
        '200',
        '112 Beach Street',
        'Long Beach',
        'CA',
        '90806',
        '3105551857',
        'A',
        '18762936',
        '72300.0',
        '08-May-2019',
        '28-Jul-1997',
        'Y',
        'Y',
        'N',
        'F',
        '31-dec-23',
        '300')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (949). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '949',
        '902',
        'Pamela',
        'Savarino',
        '200',
        '112 Beach Street',
        'Long Beach',
        'CA',
        '90806',
        '3105551857',
        'A',
        '18762936',
        '72300.0',
        '08-May-2019',
        '28-Jul-1997',
        'Y',
        'Y',
        'N',
        'F',
        '31-dec-24',
        '250')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (1142). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '1142',
        '902',
        'Alison',
        'Clark',
        '200',
        '56 Carver Street',
        'Emeryville',
        'CA',
        '94608',
        '5105559437',
        'A',
        '55913622',
        '45000.0',
        '19-Jan-2020',
        '04-May-1984',
        'N',
        'Y',
        'Y',
        'F',
        '31-dec-22',
        '50')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (1142). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '1142',
        '902',
        'Alison',
        'Clark',
        '200',
        '56 Carver Street',
        'Emeryville',
        'CA',
        '94608',
        '5105559437',
        'A',
        '55913622',
        '45000.0',
        '19-Jan-2020',
        '04-May-1984',
        'N',
        'Y',
        'Y',
        'F',
        '31-dec-23',
        '400')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (1142). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '1142',
        '902',
        'Alison',
        'Clark',
        '200',
        '56 Carver Street',
        'Emeryville',
        'CA',
        '94608',
        '5105559437',
        'A',
        '55913622',
        '45000.0',
        '19-Jan-2020',
        '04-May-1984',
        'N',
        'Y',
        'Y',
        'F',
        '31-dec-24',
        '300')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (1596). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '1596',
        '902',
        'Catherine',
        'Pickett',
        '200',
        '45 Appleton Road',
        'Bedford',
        'MA',
        '1730',
        '6175553478',
        'T',
        '28375086',
        '47653.0',
        '10-Feb-2023',
        '18-Nov-1986',
        'Y',
        'Y',
        'Y',
        'F',
        '31-dec-23',
        '500')
Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__Employee__1299A8613F507A23'. Cannot insert duplicate key in object 'dbo.Employee_Bonus'. The duplicate key value is (1596). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")
Failed Query: INSERT INTO Employee_Bonus VALUES(
        '1596',
        '902',
        'Catherine',
        'Pickett',
        '200',
        '45 Appleton Road',
        'Bedford',
        'MA',